<div>
    <form id="form-mensaje-a-enviar">
        <input type="text" id="mensaje-a-enviar" name="mensaje-a-enviar" placeholder="Ingrese el mensaje">
        <button type="submit">Enviar</button>
    </form>
    <ul id="mensajes">

    </ul>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js" ></script>
<script src="/static/js/main.js"></script>
